.box-theme {
    -fx-background-color: #0068ac;}
.box-theme .label {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-family: 'Calibri';
    -fx-font-size: 18px;}

.box-background {
    -fx-background-color: #eeeeee;
}

.box-background-white-bordered {
    -fx-background-color: white;
    -fx-border-color: #0068ac;
    -fx-border-width: 2px;
}

.box-background-white {
    -fx-background-color: white;
}

.box-header {
    -fx-background-color: #0068ac;
}
.box-header .label {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-family: 'Calibri';
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.box-border {
    -fx-border-color: #0068ac;
    -fx-border-width: 2px;
}

.box-border-bottom {
    -fx-border-color: #0068ac;
    -fx-border-width: 0 0 1 0;
}

.box-user {
    -fx-background-color: rgba(30, 30, 30, 0.4);
}
.box-user .label {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-family: 'Calibri';
    -fx-font-size: 18px;
}

.box-out-border{
    -fx-border-color: #0068ac;
    -fx-border-width: 5;
}

.image-logo-white{
    -fx-background-image: url("images/cbt_logo_white.png");
    -fx-background-position: left top, center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
}
.image-logo-blue{
    -fx-background-image: url("images/cbt_logo.png");
    -fx-background-position: left top, center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
}

.label-black-bold {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-family: 'Calibri';
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.label-black {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-family: 'Calibri';
    -fx-font-size: 18px;
}

.label-white-bold {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-family: 'Calibri';
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

#box-question-container {
    -fx-padding: 32;
    -fx-spacing: 24;
}

#label-question {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-family: 'Calibri';
    -fx-font-size: 18px;
}

#box-navigation {
    -fx-alignment: CENTER;
    -fx-padding: 8;}

#radiobutton-question {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-family: 'Calibri';
    -fx-font-size: 16px;
}
#vbox-radiobutton {
    -fx-spacing: 8;}

