.hbox {
    -fx-background-color: #0068ac;
}

.text-field {
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
}
.text-field:focused {
    -fx-background-color: -fx-focus-color, -fx-background ;
}

.button-login {
    -fx-background-color: #0068ac;
}

.button-login:hover {
    -fx-background-color: #0087e0;
}

.button-login:pressed {
    -fx-background-color: #004573;
}

.button-start {
    -fx-background-color: #e35d27;
}

.button-start:hover {
    -fx-background-color: #ff692b;
}

.button-start:pressed {
    -fx-background-color: #853617;
}

.table-border {
    -fx-border-color: #0068ac;
    -fx-border-width: 1px;
}