
/* Scaffolding Styling */

.hbox-bar {
    -fx-background-color: #0068ac;
}
.hbox-bar .label {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-family: 'Calibri';
    -fx-font-size: 18px;
}

/*Gridpane Information Styling*/

.hbox-info-header-bar {
    -fx-background-color: #0068ac;
}
.hbox-info-header-bar .label {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-family: 'Calibri';
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}
.grid-pane-info {
    -fx-border-color: #0068ac;
    -fx-border-width: 2px;
}
.hbox-info-border {
    -fx-border-color: #0068ac;
    -fx-border-width: 0 0 1 0;
}

/*Name Placeholder Styling*/

.vbox-identity {
    -fx-background-color: rgba(30, 30, 30, 0.4);
}
.vbox-identity .label {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-family: 'Calibri';
    -fx-font-size: 18px;
}
.hbox-welcome .label {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-family: 'Calibri';
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.out-border{
    -fx-border-color: #0068ac;
    -fx-border-width: 5;
}

.imageBackground{
    -fx-background-color: white;
    -fx-background-position: left top, center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
}

.imageLogoWhite{
    -fx-background-image: url("images/cbt_logo_white.png");
    -fx-background-position: left top, center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
}

.imageLogoBlue{
    -fx-background-image: url("images/cbt_logo.png");
    -fx-background-position: left top, center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
}

.label-custom-blackBold {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-family: 'Calibri';
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.label-custom-black {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-family: 'Calibri';
    -fx-font-size: 18px;
}

.label-custom-whiteBold {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-family: 'Calibri';
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

#vbox-question-view {
    -fx-padding: 32;
    -fx-spacing: 8;
}

#label-question-view {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-family: 'Calibri';
    -fx-font-size: 18px;
}

#radiobutton-question-view {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-family: 'Calibri';
    -fx-font-size: 16px;

}

#vbox-button-question-view {
    -fx-alignment: CENTER;
    -fx-padding: 8;
}