/*
    This section is used for static buttons.
    there are 3 different of buttons :
    - button-blue
    - button-red
    - button-yellow
    - button-green
*/

/*  Button (Blue)  */
.button-blue {
    -fx-background-color: #0068ac;
    -fx-background-radius: 0px;
    -fx-text-fill: white;
    -fx-font-family: 'Calibri';
    -fx-font-size: 18px;
    -fx-font-weight: bold;}
.button-blue:hover {
    -fx-background-color: #0087e0;
    -fx-background-radius: 0px;
    -fx-text-fill: white;
    -fx-font-family: 'Calibri';
    -fx-font-size: 18px;
    -fx-font-weight: bold;}
.button-blue:pressed {
    -fx-background-color: #004573;
    -fx-background-radius: 0px;
    -fx-text-fill: white;
    -fx-font-family: 'Calibri';
    -fx-font-size: 18px;
    -fx-font-weight: bold;}

/*  Button (Red)  */
.button-red {
    -fx-background-color: #e35d27;
    -fx-background-radius: 0px;
    -fx-text-fill: white;
    -fx-font-family: 'Calibri';
    -fx-font-size: 18px;
    -fx-font-weight: bold;}
.button-red:hover {
    -fx-background-color: #ff692b;
    -fx-background-radius: 0px;
    -fx-text-fill: white;
    -fx-font-family: 'Calibri';
    -fx-font-size: 18px;
    -fx-font-weight: bold;}
.button-red:pressed {
    -fx-background-color: #853617;
    -fx-background-radius: 0px;
    -fx-text-fill: white;
    -fx-font-family: 'Calibri';
    -fx-font-size: 18px;
    -fx-font-weight: bold;}

/*Button (yellow)*/
.button-yellow {
    -fx-background-color: #cfa906;
    -fx-background-radius: 0px;
    -fx-text-fill: white;
    -fx-font-family: 'Calibri';
    -fx-font-size: 18px;
    -fx-font-weight: bold;}
.button-yellow:hover{
    -fx-background-color: #f2c707;
    -fx-background-radius: 0px;
    -fx-text-fill: white;
    -fx-font-family: 'Calibri';
    -fx-font-size: 18px;
    -fx-font-weight: bold;}
.button-yellow:pressed{
    -fx-background-color: #a38605;
    -fx-background-radius: 0px;
    -fx-text-fill: white;
    -fx-font-family: 'Calibri';
    -fx-font-size: 18px;
    -fx-font-weight: bold;}

/*Button (green)*/
.button-green {
    -fx-background-color: #52ba6c;
    -fx-background-radius: 0px;
    -fx-text-fill: white;
    -fx-font-family: 'Calibri';
    -fx-font-size: 18px;
    -fx-font-weight: bold;}
.button-green:hover {
    -fx-background-color: #68ed8a;
    -fx-background-radius: 0px;
    -fx-text-fill: white;
    -fx-font-family: 'Calibri';
    -fx-font-size: 18px;
    -fx-font-weight: bold;}
.button-green:pressed {
    -fx-background-color: #38804a;
    -fx-background-radius: 0px;
    -fx-text-fill: white;
    -fx-font-family: 'Calibri';
    -fx-font-size: 18px;
    -fx-font-weight: bold;}

/*
    This section is used for static text fields.
*/
.text-field {
    -fx-background-color: -fx-text-box-border, white ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;}
.text-field:focused {
    -fx-background-color: -fx-focus-color, -fx-background ;}

/*
    This section is used for table view.
*/
.table-view {
    -fx-border-color: #0068ac;}
.table-view .column-header {
    -fx-background-color: #0068ac}
.table-view .column-header .label {
    -fx-font-family: 'Calibri';
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;}
.table-view .filler {
    -fx-background-color: transparent;}

/*
    This section is used for dynamic buttons.
    there are 2 different of buttons :
    - button-question-view
    - button-question-view-mark
*/

/*  Button (blue)*/
#button-question-view {
    -fx-background-color: #0068ac;
    -fx-padding: 4px;
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
    -fx-text-fill: white;
    -fx-font-family: 'Calibri';
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-radius: 0px;
    -fx-padding: 8 8 8 8;}
#button-question-view:hover{
    -fx-background-color: #0087e0;
    -fx-padding: 4px;
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
    -fx-text-fill: white;
    -fx-font-family: 'Calibri';
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-radius: 0px;
    -fx-padding: 8 8 8 8;}
#button-question-view:pressed{
    -fx-background-color: #004573;
    -fx-padding: 4px;
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
    -fx-text-fill: white;
    -fx-font-family: 'Calibri';
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-radius: 0px;
    -fx-padding: 8 8 8 8;}

/*  Button (yellow)*/
#button-question-view-mark {
    -fx-background-color: #cfa906;
    -fx-padding: 4px;
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
    -fx-text-fill: white;
    -fx-font-family: 'Calibri';
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-radius: 0px;
    -fx-padding: 8 8 8 8;}
#button-question-view-mark:hover{
    -fx-background-color: #a38605;
    -fx-padding: 4px;
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
    -fx-text-fill: white;
    -fx-font-family: 'Calibri';
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-radius: 0px;
    -fx-padding: 8 8 8 8;}
#button-question-view-mark:pressed{
    -fx-background-color: #f2c707;
    -fx-padding: 4px;
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
    -fx-text-fill: white;
    -fx-font-family: 'Calibri';
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-radius: 0px;
    -fx-padding: 8 8 8 8;}