
/*Button #1 Styling (Blue)*/

.button1 {
    -fx-background-color: #0068ac;
    -fx-background-radius: 0px;
    -fx-text-fill: white;
    -fx-font-family: 'Calibri';
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}
.button1:hover{
    -fx-background-color: #0087e0;
    -fx-background-radius: 0px;
    -fx-text-fill: white;
    -fx-font-family: 'Calibri';
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}
.button1:pressed{
    -fx-background-color: #004573;
    -fx-background-radius: 0px;
    -fx-text-fill: white;
    -fx-font-family: 'Calibri';
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

/*Button #2 Styling (Red)*/

.button2 {
    -fx-background-color: #e35d27;
    -fx-background-radius: 0px;
    -fx-text-fill: white;
    -fx-font-family: 'Calibri';
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}
.button2:hover{
    -fx-background-color: #ff692b;
    -fx-background-radius: 0px;
    -fx-text-fill: white;
    -fx-font-family: 'Calibri';
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}
.button2:pressed{
    -fx-background-color: #853617;
    -fx-background-radius: 0px;
    -fx-text-fill: white;
    -fx-font-family: 'Calibri';
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

/*Text Field Styling*/

.text-field {
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
}
.text-field:focused {
    -fx-background-color: -fx-focus-color, -fx-background ;
}

/*Question Number Box Styling*/

.button-question-box {
    -fx-background-color: #0068ac;
    -fx-padding: 4px;
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
    -fx-text-fill: white;
    -fx-font-family: 'Calibri';
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-radius: 0px;
    -fx-padding: 8 8 8 8;
}
.button-question-box:hover {
    -fx-background-color: #0087e0;
    -fx-padding: 4px;
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
    -fx-text-fill: white;
    -fx-font-family: 'Calibri';
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-radius: 0px;
    -fx-padding: 8 8 8 8;
}
.button-question-box:pressed {
    -fx-background-color: #004573;
    -fx-padding: 4px;
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
    -fx-text-fill: white;
    -fx-font-family: 'Calibri';
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-radius: 0px;
    -fx-padding: 8 8 8 8;
}